fastapi==0.104.1
uvicorn==0.24.0
pydantic==2.4.2
pydantic-settings==2.0.3
pydantic_core==2.10.1
python-jose==3.3.0
bcrypt==4.0.1
asyncpg==0.29.0
python-dotenv==1.0.0
PyYAML==6.0.1
redis==4.6.0
aioredis==2.0.1
sendgrid==6.12.2
python-multipart==0.0.6
email_validator==2.1.1
typer==0.7.0
